body {
  background-color: #f9f7fe;
  font-family: "Poppins", sans-serif;
}

.weather-container {
  width: 80vw;
  height: 90vh;
  background-color: #fff;
  margin: 90px auto;
  box-shadow: 0 30px 50px rgb(65 50 100 / 8%);
  color: #878787;
  padding: 20px;
  border-radius: 16px;
}

.weather-form {
  border-bottom: 1px solid #f9f7fe;
  margin-top: 40px;
  padding-bottom: 30px;
}

.search-box {
  width: 100%;
  height: 3rem;
  border: 2px solid #885df1;
  padding: 20px;
  border-radius: 100px;
  background-color: #f9f7fe;
}

.btn-primary {
  background-color: #885df1;
}

.search-input {
  background-color: inherit;
  width: 100%;
  outline: none;
  border: none;
  padding-left: 10px;
}

.search-icon,
.search-input {
  font-size: 16px;
  color: #777;
}

.logo {
  display: block;
  max-width: 150px;
}
