body {
  background-color: #f9f7fe;
  font-family: "Poppins", sans-serif;
}

h1 {
  color: #272142;
  font-size: 38px;
  font-weight: 700;
  line-height: 48px;
  margin: 20px 0 10px;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  color: rgba(39, 33, 66, 0.4);
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
  list-style: none;
  margin-bottom: 5px;
}

strong {
  color: #f65282;
  font-weight: 400;
}

a {
  text-decoration: none;
}

footer {
  color: rgba(39, 33, 66, 0.4);
  font-size: 14px;
  line-height: 18px;
  margin-top: 40px;
  text-align: center;
}

.weather-container {
  width: 70vw;
  background-color: #fff;
  margin: 90px auto;
  box-shadow: 0 30px 50px rgb(65 50 100 / 8%);
  color: #878787;
  padding: 40px;
  border-radius: 16px;
}

.weather-form {
  border-bottom: 1px solid #f9f7fe;
  margin-top: 40px;
  padding-bottom: 30px;
}

.search-box {
  width: 100%;
  height: 3rem;
  border: 2px solid #885df1;
  padding: 20px;
  border-radius: 100px;
  background-color: #f9f7fe;
}

.btn-primary {
  background-color: #885df1;
}

.search-input {
  background-color: inherit;
  width: 100%;
  outline: none;
  border: none;
  padding-left: 10px;
}

.search-icon,
.search-input {
  font-size: 16px;
  color: #777;
}

.logo {
  display: block;
  max-width: 150px;
}

.weather-info {
  margin-top: 20px;
}

.weather-info .temperature-container {
  align-items: center;
  margin-top: 30px;
}

.temperature {
  color: #212121;
  font-size: 80px;
  font-weight: 400;
  font-weight: 700;
  line-height: 1;
  margin-left: 10px;
}

.main-icon {
  margin: 10px 0;
  object-fit: cover;
  width: 100px;
  height: 100px;
}

.weather-forecast {
  border-bottom: 1px solid #f9f7fe;
  margin: 40px 0;
  padding-bottom: 50px;
  text-align: center;
}

.forecast-temperature {
  color: #f65282;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.5;
}

.forecast-temperature-min {
  margin-left: 10px;
  opacity: 0.6;
}

.forecast-icon {
  width: 100px;
  height: 100px;
  object-fit: cover;
}

.unit {
  color: #212121;
  font-size: 18px;
}
